/*---------------------------------overview secion */

.overview-main {
    height: 500px;
    background-image: url(/assets/images/SR_Background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fafafa;
}

.overview-main h1,
.overview-main h3 {
   text-align: center;
}

#overview-points {
margin-top: 30px;
margin-bottom: 50px;
width:100%;
}

.overview-cell {
    width: 100%;
    display: inline-block;
}

.overview-cell-i{
    width: 30%;
    text-align: right;
    float: left;
}

.overview-cell-t {
    width: 60%;
    text-align: left;
    float: right;
    margin: 0 5% 0 5%;
}

.overview-cell-i i {
    font-size: 40px;
}

/*---------------------------------Footer secion */

footer {
   
}

footer > div {
    color: #fff;
    background-color: #000;
    width: 100%
    position: absolute;
    bottom: 0;
    height:50px;
    clear: both;
}

footer div {
    padding-top: 8px;
}

footer div p{
    margin-left: 25px;
    float: left;
    width: 30%;
}

.links_footer {
    float: left;
    margin-right: 20px;
}

.links_footer li {
    display: inline-block;
}