/*---------------------------------overview secion */

.overview-main {
    height: 500px;
    background-image: url(/assets/images/SR_Background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fafafa;
}

.overview-main h1,
.overview-main h3 {
    text-align: center;
}

#overview-points {
margin-top: 30px;
margin-bottom: 40px;
width:100%;
}

.overview-cell {
    width: 100%;
    margin:auto;   
}

.overview-cell-i{
    width: 30%;
    text-align: right;
    float: left;
}

.overview-cell-t {
    width: 60%;
    float: right;
}

.overview-cell-i i {
    font-size: 40px;
}

/*---------------------------------Footer secion */

footer > div {
    color: #fff;
    background-color: #000;
    position: absolute;
    top: 100%;
    margin-top: 100px;
    width: 100%
}

#links_footer > li {
    display: inline-block;
}